.gradle
.husky
.idea

build
docs/assets
docs/generated
gradle
node_modules
src/**/*.kt

.editorconfig
.gitattributes
.gitignore
.prettierignore

gradlew
gradlew.bat
build.gradle
settings.gradle
package-lock.json
gradle.properties

README.md
!docs/src/README.md
